.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;

  .features__img {
    width: 100%;
  }

  .features__feature {
    align-self: center;
    justify-self: center;
    width: 70%;
    font-size: 1.5rem;

    .features__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary-opacity;
      height: 5.5rem;
      width: 5.5rem;
      border-radius: 50%;
      margin-bottom: 2rem;

      svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
      }
    }

    .features__header {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}

// ========== RESPONSIVE ==========

@media (max-width: 1200px) {
  .features {
    margin: 0 6rem;

    .features__img {
      margin-top: 10%;
    }

    p {
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 968px) {
  .features {
    margin: 0 2rem;
    column-gap: 2rem;

    .features__img {
      margin-top: 20%;
    }
  }
}

@media (max-width: 768px) {
  .features {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 2rem;

    .features__img {
      width: 80%;
    }

    .features__feature {
      width: 84%;

      p {
        font-size: 1.6rem;
      }
    }

    .feature__item-1 {
      order: 1;
    }
    .feature__item-2 {
      order: 2;
    }
    .feature__item-3 {
      order: 3;
    }
    .feature__item-4 {
      order: 4;
    }
    .feature__item-5 {
      order: 5;
    }
    .feature__item-6 {
      order: 6;
    }
  }
}

@media (max-width: 660px) {
  .features .features__img {
    width: 100%;
  }
}
